.elevator-cab {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 20%;
  background-color: #80c8e3;
  transition: transform 1s linear;
}

.elevator-cab.resting {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
