.elevator-shaft {
  box-sizing: border-box;
  padding: 1rem;
  width: 100px;
  height: 100%;
  border-right: 2px solid #dcdcdc;
  background-color: #f0f0f0;
}

.floors {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-around;
}

.floor {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0.5rem;
  width: 100%;
  height: 20%;
}

.floor-number {
  color: #333;
  font-weight: bold;
  font-size: 1.5rem;
}

.call-button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.call-button.active {
  background-color: #f90;
}
